---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: inference-kafka-lag-scaler
  namespace: default
spec:
  scaleTargetRef:
    name: inference-service
  minReplicaCount: 1
  maxReplicaCount: 10
  pollingInterval: 30
  triggers:
    - type: kafka
      metadata:
        bootstrapServers: <MSK_BOOTSTRAP_SERVERS>
        consumerGroup: <KAFKA_CONSUMER_GROUP>
        topic: <KAFKA_TOPIC>
        lagThreshold: "5"
        offsetResetPolicy: latest
        tls: enable
        unsafeSsl: "true"
